[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
flask = "*"
attrs = "*"
pydantic = "*"
face-recognition = "*"
pymongo = "*"
pillow = "*"
cmake = "*"
deepface = "*"
aioflask = "*"
apscheduler = "==3.6.3"
mediapipe = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
